{%extends "recipe/basic.html"%}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <a href="{% url 'index' %}">До пошуку рецептів</a>
    <a href="{% url 'blog' %}">До блогу</a>
    <h1>{{ about.title }}</h1>
    <div>{{ about.text }}</div>
    {% for section in sections %}
        <h2>{{ section.inscription }}</h2>
        {% if section.image %}
            <img src="{{ section.image.url }}" alt="{{ section.inscription }}" style="max-width: 100%;">
        {% endif %}
    {% endfor %}
{% endblock %}