{%extends "recipe/basic.html"%}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    <h1>{{object.title_content}}</h1>
    <h2>{{object.}}</h2>
    <p>{{object.}}</p>
{%endblock%}

class AboutDetail(DetailView):
    model = About
    template_name = "recipe/about.html"

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        context["title"] = "Про що сайт"
        context["title_content"] = "Як тут все працюе"
        context["body"] = "Пока нет ничего"
        return context