{%extends "recipe/basic.html"%}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <a href="{% url 'blog' %}">До блогу</a>
    <a href="{% url 'index' %}">До пошуку рецептів</a>
    <h1>{{ article.title }}</h1>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.description }}" style="max-width: 100%;">
    {% endif %}
    <div>{{ article.description }}</div>
    {% if article.link %}
        <a href="{{ article.link }}">Стаття опублікована з дозволу</a>
    {% endif %}
{% endblock %}

