{%extends "recipe/basic.html"%}
{% load crispy_forms_tags %}

{%block title%} Пошук рецептів {%endblock%}

{%block content%}

{% crispy form %}

<div>
    {% for recipe in recipes  %}
</div>
    <div class="recipe-preview">
        <h2><a href="{% url 'recipe' recipe.slug %}">{{ recipe.title|upper }}</a></h2>
        {% if recipe.body_image %}
            <img src="{{ recipe.body_image.url }}" alt="{{ recipe.title }}" style="max-width: 100%; display: block; margin: auto;">
        {% endif %}
        <p>Сподобалось: {{ recipe.reviews}}</p>
    </div>

    {% endfor %}
</div>
<div>
    {% if errors  %}
</div>
    <h3></h3>

{%endblock%}

