{%extends "recipe/basic.html"%}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <a href="{% url 'recipes' %}">До списку рецептів</a>
    <a href="{% url 'index' %}">До пошуку</a>
    <div class="recipe">
        <h1>{{ recipe.title|upper }}</h1>
        {% if recipe.title_image %}
            <div class="recipe-image">
                <img src="{{ recipe.title_image.url }}" alt="{{ recipe.title }}" style="max-width: 100%; display: block; margin: auto;">
            </div>
        {% endif %}
        <div class="recipe-categories">
            <h3>Категорії:</h3>
            <ul class="no-list-style">
                {% for category in recipe.category.all %}
                    <li><a href="{% url 'category' category.slug %}">{{ category.title|upper }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-ingredients">
            <h3>Інгредієнти:</h3>
            <ul>
                {% for ingredient in ingredients_list %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="recipe-preparation">
            <h3>Приготування:</h3>
            <p>{{ recipe.preparation }}</p>
        </div>

        <div class="recipe-reviews">
            <p>Сподобалось: {{ recipe.reviews }}</p>
        </div>
    </div>
{% endblock %}

